.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card {
  width: 300px;
  height: 200px;
  cursor: pointer;
}

.cardInner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .cardInner {
  transform: rotateY(180deg);
}

.cardFront, .cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardFront {
  background-color: #298d0e;
  color: white;
}

.cardBack {
  background-color: #cbcae3c2;
  transform: rotateY(180deg);
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.learnedButton, .notLearnedButton {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.learnedButton {
  background-color: #298d0e;
  color: white;
}

.notLearnedButton {
  background-color: #dc3545;
  color: white;
}