.plus button {
    border-radius: 50%;
    background-color: #298d0e;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    border: none;
}

.plus button:hover {
    background-color: #1f6b0a;
}